{% extends 'base.html' %}
{% set active = "Selected Pictures" %}

{% block title %}
Selected Pictures
{% endblock %}

{% block content %}

<!--Display all Selected Pictures by choosing the color -->
<!--<h1 id="SelectedImageHead">Color sorted Images</h1>-->

<div class="indent">
  <div class="container" >
    <div class="row">
      {% for img in final_matched_images %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm" id="ColorDifferentiatedImages">
            <img class="ImageCard" src="/img/{{ img }}">
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!--<p id="BackLine">Click on 'Back' to return to the previous page.</p>-->
<div class="SelectedBackBtn">
  <a href="/" class="btn btn-dark" id="BackBtn">Back</a>
</div>

<script>
  $(function() {
    $.get("/store_color", function(i) {
      console.log(i);
    });
  });
</script>

{% endblock %}
