{% extends 'base.html' %}
{% set active = "Selected Pictures" %}

{% block title %}
Selected Pictures
{% endblock %}

{% block content %}

<!--Display all Selected Pictures by choosing the color -->
<div class="indent">
  <div class="container" >
    <div class="row">
      {% for img in hey %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm" id="ColorDifferentiatedImages">
            <img class="ImageCard" src="/img/{{ img }}">
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  $(function() {
    $.get("/store_color", function(i) {
      console.log(i);
    });
  });
</script>

{% endblock %}
